<% include header %>
<div class="row" style="font-family: Microsoft JhengHei;">
    <% result.forEach(element => { %>
        <div class="col s6">
            <div class="z-depth-2">
              <p>
                <h5><%= element.title %></h5>
                <p style="font-size: x-small;"><%= element.time %></p>
                <p>
                  <a class="waves-effect waves-light btn-small" href="#" id="<%= element._id %>" onclick="like(this)"><i class="material-icons">thumb_up</i></a>
                  <a class="waves-effect waves-light btn-small" href="#" id="<%= element._id %>" onclick="collect(this)"><i class="material-icons">folder</i></a>
                  <a class="waves-effect waves-light btn-small" href="#" id="<%= element._id %>" onclick="share(this)"><i class="material-icons">share</i></a>
                </p>
                <p><%= element.content %>...
                  <a href="<%= element.url %>" onclick="pass(this)" target="_blank" class="right-align" id="<%= element._id %>">(繼續閱讀...)</a>
                </p>
              </p>
            </div>
          </div>
    <% }) %>
  </div>

  <script>
    function pass(obj) {
      const id = obj.id
      $.ajax({
        type: "post",
        url: "/clicknews",
        data: {
          "id": id
        }
      })
    }
    function like(obj) {
      const id = obj.id
      $.ajax({
        type: "post",
        url: "/like",
        data: {
          "id": id
        },
        success: function (data) {
        },
      })
    }
    function collect(obj) {
      const id = obj.id
      $.ajax({
        type: "post",
        url: "/collect",
        data: {
          "id": id
        },
        success: function (data) {
        },
      })
    }
    function share(obj) {
      const id = obj.id
      $.ajax({
        type: "post",
        url: "/share",
        data: {
          "id": id
        },
        success: function (data) {
        },
      })
    }
  </script>
  